<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [73]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [74]:
# Your code here
from bs4 import BeautifulSoup 
import requests
import pandas as pd

Download the webpage at the url

In [75]:
#your code goes here
data  = requests.get(url).text

Create a soup object

In [76]:
#your code goes here
soup = BeautifulSoup(data,"html.parser")

Scrape the `Language name` and `annual average salary`.

In [94]:
popular_languages = []

for row in table.find_all('tr'):
    cols = row.find_all('td')
    language_name = cols[1].getText()
    annual_avg_salary = cols[3].getText().replace('$', '').replace(',', '')

    # Create a dictionary to store the data for each language
    language_data = {
        'Language Name': language_name,
        'Annual Avg Salary': annual_avg_salary
    }

    popular_languages.append(language_data)

Save the scrapped data into a file named *popular-languages.csv*

In [95]:
import pandas as pd

# ... (rest of your scraping code)

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(popular_languages)

# Save the DataFrame to a CSV file
df.to_csv('popular-languages.csv', index=False)

In [93]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the CSV file
df = pd.read_csv('popular-languages.csv')

# Create the bar plot using Seaborn
sns.barplot(x='language_name', y='annual_avg_salary', data=df)

# Customize the plot (optional)
plt.xlabel('Languages')
plt.ylabel('Annual Average Salary')
plt.title('Popular Languages')
 # Rotate x-axis labels for better readability

# Display the plot
plt.show()

ValueError: Neither the `x` nor `y` variable appears to be numeric.

In [80]:
df.head()

  Language Name      Annual Avg Salary
0      Language  Average Annual Salary
1        Python                 114383
2          Java                 101013
3             R                  92037
4    Javascript                 110981

In [49]:
df.head(10)

  Language , Average Annual Salary
0                  Python , 114383
1                    Java , 101013
2                        R , 92037
3              Javascript , 110981
4                   Swift , 130801
5                     C++ , 113865
6                       C# , 88726
7                      PHP , 84727
8                      SQL , 84793
9                       Go , 94082

In [81]:
print(df.columns)

Index(['Language Name', 'Annual Avg Salary'], dtype='object')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).